



.quick_donate_contianer{
    padding: 80px;
}

.btn_x_padding{
    border: none;
    padding: 5px;
}
.service{
    width: 50px;
    
}
.bg{
   padding: 5px;
   background-color:antiquewhite;
}

::placeholder {
    color: white;
    opacity: 1; /* Firefox */
  }